Source: pantheios
Priority: extra
Maintainer: Stephen B Chisholm <sbchisholm@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.pantheios.org

Package: libpantheios-dev
Section: libdevel
Architecture: any
Depends: libpantheios-1.0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Pantheios is an Open Source C/C++ Diagnostic Logging API 
 library, offering an optimal combination of 100% type-safety, efficiency,
 genericity and extensibility. It is simple to use and extend,
 highly-portable (platform and compiler-independent) and, best of all, 
 it upholds the C tradition of you only pay for what you use.

Package: libpantheios-1.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pantheios is an Open Source C/C++ Diagnostic Logging API 
 library, offering an optimal combination of 100% type-safety, efficiency,
 genericity and extensibility. It is simple to use and extend,
 highly-portable (platform and compiler-independent) and, best of all, 
 it upholds the C tradition of you only pay for what you use.

