#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# use the correct make directory for 32bit or 64bit
LBITS := $(shell getconf LONG_BIT)

ifeq ($(LBITS),64)
   MAKE_DIR=build/gcc46.unix.file64bit
else
   MAKE_DIR=build/gcc46.unix
endif

override_dh_auto_build:
	cd $(MAKE_DIR); STLSOFT=../../stlsoft-1.9.117 make build.libs.core; cd ../..

#override_dh_auto_clean:
#	cd build/gcc46.unix; dh_auto_clean -- clean

#override_dh_auto_test:
#	

%:
	dh $@

