Package: libjson-spirit
Source: json-spirit
Version: 4.06-3
Architecture: amd64
Maintainer: Stephen B Chisholm <sbchisholm@gmail.com>
Installed-Size: 5367
Depends: libc6 (>= 2.3.2), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1)
Section: libs
Priority: extra
Description: C++ JSON Parser/Writer
 C++ Development Library for parsing and writing JSON strings. This library
 is based off the boost spirit library.
