Package: libjson-spirit-dev
Source: json-spirit
Version: 4.06-3
Architecture: amd64
Maintainer: Stephen B Chisholm <sbchisholm@gmail.com>
Installed-Size: 88
Depends: libjson-spirit (= 4.06-3)
Section: libdevel
Priority: extra
Description: C++ JSON Parser/Writer
 C++ Development Library for parsing and writing JSON strings. This library
 is based off the boost spirit library.
